<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167273976123-8plcs95d6tjtp06evfd7efrmj2sj7jvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167273976123-8plcs95d6tjtp06evfd7efrmj2sj7jvt</string>
	<key>API_KEY</key>
	<string>AIzaSyCkGB9YfnHlPr7m6Sr2Uh3t2Xzs3BZxA9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>167273976123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radiomedia.drn.drn1</string>
	<key>PROJECT_ID</key>
	<string>drn1-fefe7</string>
	<key>STORAGE_BUCKET</key>
	<string>drn1-fefe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:167273976123:ios:255a65510516b03d17671e</string>
	<key>DATABASE_URL</key>
	<string>https://drn1-fefe7.firebaseio.com</string>
</dict>
</plist>
